@font-face {
    font-family: 'Aileron Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Regular'), url('/assets/fonts/aileron-regular.woff') format('woff');
    }
    