.about{
    color: #fff;
    font-family: 'Ubuntu';
    background: linear-gradient(180deg, rgba(0,21,53,1) 83%, rgba(24,22,49,1) 100%);
    text-align: center;
    padding-bottom: 100px;

    .price__stat{
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto;
        &:after{
            content:'';
            position: absolute;
            left: 0;
            height: 1px;
            width: 100%;
            background: #022b69;
            margin-top: 100px;
        }
    }
    .info__price{
        width: 20%;
        text-transform: uppercase;
    }
    .head__price{
        font-size: 23px;
        font-weight: bold;
        line-height: 1;
    }
    .bottom_price{
        font-size: 13px;
        font-weight: 100;
        color: #7f7f7f;
        line-height: 1;
        margin-top: -10px;
    }
    .about__text{
        margin-top: 130px;
        .title{
            font-size: 238px;
            line-height: 100px;
            font-weight: bold;
            color: #d52aef;
        }
        span{
            color: #8905f8;
        }
        .subtitle{
            font-size: 55px;
            color: #ffd200;
            transform: translateY(-120px);
        }

        .about__info{
            font-size: 23px;
            font-weight: bold;
            max-width: 765px;
            margin: auto;
            margin-top: 40px;
        }

    }
    .torpedo{
        text-align: center;
        color: #fff;
        font-family: 'Ubuntu';
        max-width: 765px;
        margin: auto;

        .line__effect{
            margin-top: 200px;

            &:before{
                content: '';
                position: absolute;
                height: 125px;
                width: 1px;
                background: #fff;
                margin-top: -150px;
            }
        }

        h3{
            font-size: 68px;
            font-weight: bold;
            z-index: 2;
        }

        p{
            font-size: 19px;
            font-weight: bold;
            z-index: 2;
        }
        .wave__icon{
            width: 160px;
            position: absolute;
            opacity: 0.2;
            z-index: 1;
            left: 0;
            top: 50px;

        }
    }
    .torpedo__icon{
        margin-top: 360px;
        padding-bottom: 200px;

        .img__torpedo{
            width: 143px;
            height: 143px;
        }
        .img__wave{
            width: 360px;
            position: absolute;
            opacity: 0.2;
            z-index: 1;
            left: 40%;
            margin-top: 40px;
        }
        span{
            height: 250px;
            width: 1px;
            background: #fff;
             position: absolute;
        }
        .left{
            margin-left: 40px;
            margin-top: -320px;
        }
        .center{
            margin-left: 70px;
            margin-top: -245px;
        }
        .right{
            margin-left: 100px;
            margin-top: -280px;
        }
    }
}
