header{
 position: absolute;
 left: 0;
 width: 100%;
}

header .menu__top a {
    font-size: 15px;
    font-family: 'Ubuntu Bold';
    text-transform: uppercase;
}

header .logo{
    width: 80px;
}
header {
    .menu__top{
        margin-right: 50px;
    }
    .social__top img{
        width: 18px;
    }
    .twitter{
        margin-right: 60px;
        &::after{
            content:'';
            position: absolute;
            width: 30px;
            height: 1px;
            background: #ffffff90;
            margin-top: 15px;
            margin-left: 15px;
        }
    }

}