.services{
    color: #fff;
    font-family: 'Ubuntu';
    background: linear-gradient(360deg, #100e20 5%, rgba(24,22,49,1) 100%);
    padding-bottom: 250px;
    padding-top: 70px;
    font-size: 15px;

    .service__table{
        max-width: 1140px;
        margin: auto;
        align-items: center;

        .nav{
            display: block;
            margin-right: 30px;
        }

        li{
            list-style: none;
            text-align: right;
            font-size: 74px;
            line-height: 1.3;

            a{
                color: #fff;
                font-weight: bold;
                text-decoration: none;
                transition: all 1s; 
                
            }
            
            .active{
                background: -webkit-linear-gradient(-50deg, rgba(71,72,123,1) 75%, rgba(204,46,230,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-right: 40px;
                transition: all 1s; 
            }
        }
        .tab-content{
            max-width: 275px;
            margin-left: 30px;
            transition: all 1s; 

            .audit__link{
                color: #47487b;
                font-weight: bold;
                text-transform: lowercase;
                text-decoration: underline;
            }

        }  
    }
    .border__service-1{
        border: none;
        height: 550px;
        background: #3e3d4a;
        width: 1px;
        position: absolute;
        margin-top: -20px;
        margin-left: -17px;
    }
    .border__service-2{
        border: none;
        height: 1px;
        background: #3e3d4a;
        width: 550px;
        position: absolute;
        right: -45%;
        margin-top: 40px;
    }
}