.slider__row{
    background: url(/assets/images/slider__back.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu';

    .slider__text{
        padding-top: 15%;
    }
    .title{
        font-size: 162px;
        font-family: 'Montserrat';
        font-weight: 900;
        line-height: 1;
    }
    .subtitle{
        font-size: 43px;
        font-family: 'Ailerons';
        line-height: 1;
        letter-spacing: 10px;
        margin-left: -65px;
        margin-top: -30px;
    }
    .slider__info{
        font-size: 20px;
        max-width: 380px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    .slider__btn{
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        line-height: 1;
        padding: 20px 80px;
        border-radius: 30px;
        background: linear-gradient(135deg, rgba(137,5,248,1) 73%, rgba(216,44,239,1) 100%);
        transition: all 2s;

        &:hover{
            background: linear-gradient(-35deg, rgba(137,5,248,1) 63%, rgba(216,44,239,1) 100%);
            background-position: right center;
        }
    }
    .slider__logo{
        position: absolute;
        transform: translate(132%, -68%);
    }

    .bottom__btn{
        position: absolute;
        bottom: 30px;
        border: 1px solid #fff;
        height: 60px;
        width: 35px;
        margin-left: -20px;
        border-radius: 30px;
        animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        -moz-animation: bounce 2s infinite;
        -o-animation: bounce 2s infinite;
    }
    .bottom__btn .arrow__bottom:after{
        content: '\250F';
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        transform: rotate(-145deg);
        position: absolute;
        bottom: 12px;
        left: 9px;
    }
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-10px);}
	60% {-webkit-transform: translateY(-5px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-10px);}
	60% {-moz-transform: translateY(-5px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-10px);}
	60% {-o-transform: translateY(-5px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-5px);}
}