.timeline{
    color: #fff;
    font-family: 'Ubuntu';
    background: linear-gradient(180deg, #100e20 5%, #000000 100%);
    padding-bottom: 300px;
    padding-top: 80px;
    font-size: 15px;

    .timeline__head{
        text-align: center;
        margin-bottom: 75px;

        .title{
            font-size: 100px;
            font-weight: bold;
            line-height: 0.8;
            color: #47487b;
            
            span{
                font-weight: 100;
                z-index: 999;
            }
        }
        .timeline__icon{
            width: 175px;
            margin-top: -185px;
            margin-left: 100px;
            position: absolute;
            z-index: 1;
        }
    }

    .timeline__q{
        max-width: 1140px;
        margin: auto;
        .title{
            text-align: center;
            font-size: 159px;
            color: #ce2ee7;
            font-weight: bold;
            margin-bottom: 25px;
        }
        .year{
            text-align: center;
            font-size: 40px;
            color: #47487b;
        }
    }
}