<div id="about" class="about">
     <div class="row price__stat container">
        <div class="info__price">
            <p class="head__price">$ 0.000005039</p>
            <p class="bottom_price">HOLDERS</p>
        </div>
        <div class="info__price">
            <p class="head__price">$ 0.000005039</p>
            <p class="bottom_price">HOLDERS</p>
        </div>
        <div class="info__price">
            <p class="head__price">$ 0.000005039</p>
            <p class="bottom_price">HOLDERS</p>
        </div>
        <div class="info__price">
            <p class="head__price">$ 0.000005039</p>
            <p class="bottom_price">HOLDERS</p>
        </div>
        <div class="info__price">
            <p class="head__price">$ 0.000005039</p>
            <p class="bottom_price">HOLDERS</p>
        </div>
     </div>
     <div class="about__text container">
         <h2 class="title">what is </br><span>torpedo</span></h2>
         <h3 class="subtitle">100% Safe - Liquidity Burned</h3>
         <p class="about__info">An Autonomous Yield and deflationary token model. This deflationary model works on scarcity. The more transactions that take place the more tokens will keep decreasing from the total supply along every trade contributes toward automatically generating locked liquidity. With higher demand and less supply $TORPEDO holders will ultimately be rewarded with a higher price! </p>
     </div>

     <div class="torpedo">
         <div class="row">
            <div class="col-md-6 line__effect">
                <h3>5%</h3>
                <p>redistributed <br/>to all <br/>existing holders</p>
            </div>
            <div class="col-md-6 line__effect">
                <img src="/assets/images/wind.svg" alt="" class="wave__icon">
                <h3>5%</h3>
                <p>is been added as will <br/>be locked liquidity to <br/>create a higher price floor</p>
            </div>
        </div>
        <div class="torpedo__icon">
            <span class="left"></span>
            <span class="center"></span>
            <span class="right"></span>
            <img src="/assets/images/torpedo.svg" alt="" class="img__torpedo">
            <img src="/assets/images/wind.svg" alt="" class="img__wave">
        </div>
    </div>

</div>