<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-3 mb-3 container">
        <a href="#" class="logo__top mr-md-auto"><img src="/assets/images/logo.png" alt="" class="logo"></a>
        <nav class="menu__top my-md-0">
          <a class="p-2 text-white" href="#about">About</a>
          <a class="p-2 text-white" href="#timeline">Timeline</a>
          <a class="p-2 text-white" href="#project">Project</a>
          <a class="p-2 text-white" href="#">White Paper</a>
          <a class="p-2 text-white" href="#buy-now">Buy Now</a>
        </nav>
        <div class="social__top">
            <a href="#" class="twitter"><img src="/assets/images/twitter.svg" alt="" class=""></a>
            <a href="#" class="telegram"><img src="/assets/images/telegram.svg" alt="" class=""></a>
        </div>   
    </div>
</header>
