<div id="service" class="services">
    <div class="row service__table">
        <div class="col-md-7">
            <ul class="nav__tab nav">
                <li class="active"><a href="#tab-1" data-toggle="tab">Solidity Finance</a></li>
                <li><a href="#tab-2" data-toggle="tab">CoinGecko</a></li>
                <li><a href="#tab-3" data-toggle="tab">CoinMaketCap</a></li>
                <li><a href="#tab-4" data-toggle="tab">PancakeSwap</a></li>
            </ul>
            <hr class="border__service-2"/>
        </div>
        
        <div class="col-md-5">
            <hr class="border__service-1"/>
            <div class="tab-content well">
                <div class="tab-pane active" id="tab-1"><p class="title">Torpedo - Audit Report</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p> 
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <a href="" class="audit__link">Open audit</a>
                </div>
                <div class="tab-pane" id="tab-2">
                    <p class="title">Torpedo - Audit Report 2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p> 
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <a href="" class="audit__link">Open audit</a>
                </div>
                <div class="tab-pane" id="tab-3">
                    <p class="title">Torpedo - Audit Report 3</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p> 
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <a href="" class="audit__link">Open audit</a>
                </div>
                <div class="tab-pane" id="tab-4">
                    <p class="title">Torpedo - Audit Report 4</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p> 
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <a href="" class="audit__link">Open audit</a>
                </div>
            </div>
        </div>
        
    </div>
</div>