<div class="slider__row w-100">
    <div class="container slider__text">
    <h1 class="title">TORPEDO</h1>
    <img src="/assets/images/slider-logo.png" alt="" class="slider__logo">
    <h2 class="subtitle">The first BSC underwater GEM</h2>
    <p class="slider__info">Auto-generating locked liquidity protocol
        Static farming by hodling!</p>
    <a href="#" class="slider__btn">Buy Now</a>
    </div>
    <a href="" class="bottom__btn"><i class="arrow__bottom"></i></a>
</div>