<div id="timline" class="timeline">
    <div class="timeline__head">
        <h2 class="title">When<br/>
        <span>Atlantis?</span></h2>
        <img src="/assets/images/little-submarine.svg" alt="" class="timeline__icon">
    </div>
    <div class="row timeline__q">
        <div class="col-md-4">
            <h2 class="title">
                Q1
            </h2>
            <h4 class="year">
                2021
            </h4>
        </div>
        <div class="col-md-4">
            <h2 class="title">
                Q1
            </h2>
            <h4 class="year">
                2021
            </h4>
        </div>
        <div class="col-md-4">
            <h2 class="title">
                Q1
            </h2>
            <h4 class="year">
                2021
            </h4>
        </div>
    </div>


</div>