<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    {{> header }}

    {{> slider }}

    {{> about }}

    {{> services }}

    {{> timeline }}

    {{> footer }}

    <script src="assets/js/app.js"></script>
</body>
</html>
